{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Connexion{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Formulaire de connexion</h1>

    {% if error %}
    <div class="alert alert-danger mt-4">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <form action="{{ path('security.login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Adresse email</label>
            <input type="email" class="form-control" id="username" name="_username"
                placeholer="exemple@le-quai-antique.fr" value="{{ last_username }}">
            <div id="emailHelp" class="form-text">Votre email ne sera jamais partagé avec des tiers.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="********">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}