
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

public/images/*
!public/images/.gitignore
!public/images/LogoRestaurant.svg
!public/images/FondRestau.png
!public/images/HeaderRestau.png
!public/images/chevron-down.svg