body{
    background-image: url("../images/fondBois-2000x1333.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,a,p{
    color: antiquewhite;
}

/* FOOTER */
.footer {
    /*background-color: #33281e;*/
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    /*padding: 20px;*/
    margin-top: auto;
   /* position: sticky;*/
    /*bottom: 0;*/
}
.footer.h1 {
    font-size: 36px;
    margin: 0;
}

.footer.h2 {
    font-size: 20px;
    margin: 0;
}
.hours > li {
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    font-size: 14px;
}
.address-details {
    text-align: right;
}
.address-details p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.row-form {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;

}

.container-confirm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: end;
}



.banniere-home {
    background-image: linear-gradient(135deg,#221e1a,#9e7c41,black);
    width:100%;
    height: auto;
    background-attachment: fixed;
}

.container-resa2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #624C30;
}


.container-resa {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #624C30;
    display: flex;
    flex-direction:column;
    min-height:80vh;
}

.calendar-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 60%;
    background: #fff;
    font: 13px Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 20px;
}
@media (max-width: 991.98px) {
    .calendar-container {
        width: 100%;
    }
    .footer.h1 {
        font-size: 28px;
    }
    
    .footer.h2 {
        font-size: 16px;
    }
    .hours > li {
        font-size: 12px;
    }
}
@media (max-width: 767.98px) {
    .calendar-container {
        width: 100%;
    }
    .footer.h1 {
        font-size: 18px;
    }
    
    .footer.h2 {
        font-size: 12px;
    }
    .hours > li {
        font-size: 10px;
    }
}

.calendar {
    width: 100%;
    padding: 0;
}

.year-line {
    background: #CDA45E;
    height: 30px;
    text-align: center;
    position: relative;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
}
  
.year-line span {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.left-button {
    left: 0; 
}
  
.right-button {
    right: 0;
}
  
.left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
}

/* Buttons */
.button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    -webkit-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    color: white;
    border: none;
    background: #CDA45E;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);

}

.titre-page-resa {
    font-size: 28px;
    color: #CDA45E;
    margin-top: 20px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.content-center {
    justify-content : center;
    text-align: center;
}
.content {
    overflow: none;
    width: 100%;
    max-width: 790px;
    padding: 0px 0;
    height: auto;
    position: relative;
    margin: 20px auto;
    background: #CDA45E;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}


/* Days/months tables */
.days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center;
}
  
.day {
    height: 26px;
    width: 26px;
    padding: 0 10px;
    line-height: 26px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    color: #000; 
}
  
.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 1px;
    padding-top: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 14px;
    color: #CDA45E;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

.active-month {
    font-weight: 700;
    color: #000;
}
  
.month:hover {
    color: #624C30;
}
  
.table-date {
    cursor: default;
    color: #2b2b2b;
    height: 26px;
    width: 26px;
    font-size: 15px;
    padding: 10px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
}
.autre-mois {
    color: #aaaaaa;
    background-color: #eeeeee;
    border-radius: 10%;

}
.table-date:not(.nil):hover {
    border-color: #CDA45E;
}
  
.event-date {
    border-color: #624C30;
    background: #624C30;
    color: #fff;
}

.event-date:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745;
}
  
.active-date {
    background: #CDA45E;
    color: #fff;
}
  
.event-date.active-date {
    background: #624C30;
}

/*  Events display */
.slots-container {
    height: 100%;
    width: 40%;
    margin: 0px auto;
    display: inline-block;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
}
@media (max-width: 991.98px) {
    .slots-container {
        padding: 0;
    }
}
@media (max-width: 767.98px) {
    .slots-container {
        padding: 0;
        width:100%
    }
}
.slots-container:after {
    clear: both;
}
  

.msg-slot {
    text-align: center;
    color: #8f0c0c;
    font-weight: bold;
}

.slot-card {
    padding: 10px 0 5px 0;
    /* max-width: 100%; */
    /* display: block; */
    /* margin: 20px; */
    /* margin-left: 12px; */
    text-align: center;
}
  
.date-slot {
    display: block;
    max-width: 100%;

    padding: 0 10px;
    font-size: 1.5rem;
    padding-right: 0;
    text-align: center;
}

/* input slots */
.slots {
    height: 50%;
    width: auto;
}
@media (max-width: 767.98px) {
    .slots {
        width: 100%;
    }
}
  
.slots-header {
    margin: 20px;
    color: #fff;
    text-align: center;
    font-size: 28px;
}
  
.form-container {
    margin-top: 25%;
}
  
.form-label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

  
.input {
    border: none;
    background: none;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    display: block;
    margin-bottom: 50px;
    width: 300px;
    height: 20px;
    text-align: center;
    -webkit-transition: border-color 250ms;
    -o-transition: border-color 250ms;
    transition: border-color 250ms;
    color: #fff;
}
  
.input:focus {
    outline: none;
    border-color: #fff;
}
  
.error-input {
    border-color: #cd4dcc;
}
  
.tb-plages {
    display: flex;
    justify-content: center;
    align-items:center;
    border-collapse: separate;
}
  
.slot-h {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    background-color: #ffda9b;
    border-spacing: 0.5cm;
    padding: 5px;
    margin: 5px;
}
  
.active-slot {
    font-weight:bold;
    /*border:#624C30 3px solid;*/
    background-color: #624C30;
    color: beige;
}

table {
    width : 100%;
}

tr {
    width: auto;
}

.line-h {
    display: flex;
    flex-wrap: wrap;
}

.titre-plage {
    background-color: #624C30;
    text-align: center;
    font-size: 1.5rem;
    color: beige;
    margin-top: 8%;
    margin-bottom: 5%;
}




.img-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
}

.carousel-inner > .carousel-item > .img-container > img {
    width: auto;
    height: 300px;
}

.msg1,.msg2,.banniere-photo, .cont-photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: 4px 4px 10px rgb(253, 236, 85);
    border-radius: 10px 10px;
    margin-top: 20px;
    padding : 10px;
    margin-bottom: 20px;
}

.msg1 > .photo {
    background-color: #8f0c0c;
    max-width: 40%;
    max-height: 300px;
    text-align: center;
}

.legend{
    padding: 10px;
    width:60%;

}
.legend.right {
    text-align: left;

}

.legend.center {
    text-align: center;
    width: 100%;
}

.banniere-photo {
    display: flex;
    flex-wrap: wrap;
}
  
.photo {
    flex-basis:25%;
    height: auto;
}
  
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
  
@media (max-width: 990px) {
    .photo {
        flex-basis: 50%; 
    }
}
  
@media (max-width: 760px) {
    .photo {
        flex-basis: 100%; 
    }
}


.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.plat, .menu {
    color:antiquewhite;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    border-radius: 10px 10px;
    margin-top: 10px;
    padding : 10px;
    margin-bottom: 10px;
}

.menu-items {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.menu-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-item >.active {
    font-weight:bold;
}

.cont-photo.reverse{
    flex-direction: row-reverse;
}

.cont-photo.photo1{
    max-height: 300px;
}

.cont-restau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.photo1 > img {
    max-height: 200px;
}


.register-form {
    width: 50%;
}

.input-nb {
    text-align: center;
}

.disabled-field:disabled {
    background-color: #c8a673;
    color: #4b4b4b;
}

.label-visible {
    color: #ffda9b;
}

.msg-reservation {
    color: #ffda9b;
    text-align: center;
}

thead,
tfoot {
    background-color: #624C30;
    color:antiquewhite;
}

tbody {
    color:#624C30;
}

.tb_booking {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.tb-cell-booking,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    text-align: center;
}
@media only screen and (max-width: 760px) {
    .tb-booking {
        font-size: 0.7rem;
    }
    .tb-cell-booking {
        padding: 5px;
    }
}
@media only screen and (max-width: 760px) {
    .tb-booking {
        font-size: 0.9rem;
    }
    .tb-cell-booking,
    th {
        padding: 5px 5px;
    }
}

.readonly-field {
    background-color: #fdd39a; /* Couleur de fond pour les champs en lecture seule */
}