:root {
    --txt-color-light:#fef6eb;
    --txt-color-dark: #343A40;
    --bk-color-light:rgb(254, 246, 235);;
    --bk-color-dark:#343A40;
    --bk-btn-calendar: #aba799;
    --shadow-card:#645d49;
    --selected-month:#343A40;
    --selected-date:#343A40;
    --bk-calendar-slot:#aba799;
    --bk-calendar-date:#fff;
    --txt-disabled-month:#aaaaaa;
    --bk-disabled-month:#eeeeee;
    --bk-calendar-slots:#eeeeee;
    --txt-readonly: #aaaaaa;
}

body{
    /*background-image: url("../images/fondBois-2000x1333.jpg");*/
    background-color: var(--bk-color-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.logo-navbar {
    height:3em;
}
h1,h2,h3,a,p{
    color: var(--txt-color-light);
}

/* FOOTER */
.footer {
    /*background-color: #33281e;*/
    color: var(--txt-color-light);
    display: flex;
    justify-content: space-evenly;
    /*padding: 20px;*/
    margin-top: auto;
   /* position: sticky;*/
    /*bottom: 0;*/
}

.footer.h1 {
    font-size: 1em;
}
.footer.h2 {
    font-size: 1em;
    justify-content: left;
}
.hours > li {
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    font-size: 0.8em;
    padding-left:0px;
}
.address-details {
    text-align: right;
}
.address-details p {
    margin: 0;
    font-size: 0.8em;
    text-align: center;
}


.row-form {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.container-confirm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: end;
}
/*.container-resa2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--bk-color-dark);
}
*/
/*
.container-resa {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--bk-color-dark);;
    display: flex;
    flex-direction:column;
    min-height:80vh;
}
*/
.calendar-container {
    position: relative;
    margin: 0;
    height: 100%;
    width: 60%;
    background: var(--bk-calendar-date);
    font: 13px Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0;
}
.calendar {
    width: 100%;
    padding: 0;
}
.year-line {
    background: var(--bk-color-dark);
    height: 30px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    margin-top: 20px;
}
.year-line span {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: var(--txt-color-light);
}
.titre-page-resa {
    font-size: 28px;
    color: var(--txt-color-light);
    margin-top: 0;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content-center {
    justify-content : center;
    text-align: center;
}
.content {
    overflow: none;
    width: 100%;
    max-width: 790px;
    padding: 0px 0;
    height: auto;
    position: relative;
    margin: 20px auto;
    background-color: var(--bk-color-light);
    display:flex;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
    flex-wrap: wrap;
}
/* Days/months tables */
.days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center;
}
.day {
    height: 26px;
    width: 26px;
    padding: 0 10px;
    line-height: 26px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    color: #000; 
}
.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 1px;
    padding-top: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--selected-month);
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
.active-month {
    font-weight: 700;
}
.month:hover {
    color: red;
}
.table-date {
    cursor: default;
    color: #2b2b2b;
    height: 26px;
    width: 26px;
    font-size: 15px;
    padding: 10px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
}
.autre-mois {
    color: var(--txt-disabled-month);
    background-color: var(--bk-disabled-month);
    border-radius: 10%;
}
.table-date:not(.nil):hover {
    border-color: var(--selected-date);
} 
.active-date {
    background: var(--selected-date);
    color: var(--bk-calendar-date);
}
/*  Events display */
.slots-container {
    height: 100%;
    width: 40%;
    margin: 0px auto;
    display: inline-block;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
}
.slots-container:after {
    clear: both;
}
.msg-slot {
    text-align: center;
    color: #aa0f0f;
    background-color: var(--bk-color-light);
    font-weight: bold;
}
.slot-card {
    padding: 10px 0 5px 0;
    /* max-width: 100%; */
    /* display: block; */
    /* margin: 20px; */
    /* margin-left: 12px; */
    text-align: center;
}
.date-slot {
    display: block;
    max-width: 100%;
    padding: 0 10px;
    font-size: 1.5rem;
    padding-right: 0;
    text-align: center;
}
/* input slots */
.slots {
    height: 50%;
    width: auto;
}
.tb-plages {
    display: flex;
    justify-content: center;
    align-items:center;
    border-collapse: separate;
}
.slot-h {
    box-shadow: 2px 2px 5px var(--shadow-card);
    border-radius: 10%;
    background-color: var(--bk-calendar-slots);
    border-spacing: 0.5cm;
    padding: 5px;
    margin: 5px;
}

.slot-h,.slot-card, .date-slot {
    color:var(--txt-color-dark);
}

.active-slot {
    font-weight:bold;
    /*border:#624C30 3px solid;*/
    background-color: var(--bk-color-dark);
    color: var(--txt-color-light);
}
.readonly-field {
    background-color: var(--txt-readonly); /* Couleur de fond pour les champs en lecture seule */
    color: var(--txt-color-dark); /* Couleur de fond pour les champs en lecture seule */
}
table {
    width : 100%;
}

tr {
    width: auto;
}

.line-h {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
}

.titre-plage {
    background-color: var(--bk-color-dark);
    text-align: center;
    font-size: 1.5rem;
    color: var(--txt-color-light);
    margin-top: 8%;
    margin-bottom: 5%;
}

.left-button {
    left: 0;
}
.right-button {
    right: 0;
}
.left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 8s;
    transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
.banniere-home{
    position:relative;
    background-color: var(--bk-color-dark);
    box-shadow: 4px 4px 10px var(--shadow-card);
    border-radius: 10px 10px;
    margin-top: 20px;
    padding : 10px;
    margin-bottom: 20px;
    color: var(--txt-color-light);
}

.img-txt-container{
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.photo-carousel img {
    width: 100%;
    max-height: 400px;
    object-fit: cover; 
}
.txt-carousel {
    max-width: 50%;
    text-align: justify;
}

.txt-accueil{
    color: var(--txt-color-light);
    text-align: justify;
}
.booking-btn {
    position: absolute;
    bottom: 30px;
    right: 50px;
    height:auto;
    width: 150px;
    background-color: darkred;
    border-radius: 8px;
    outline: 5px solid darkred;
    outline-offset: 5px;
    padding: 10px 20px;
    color: var(--txt-color-light);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
}
.booking-btn:hover {
    background-color: #ca1717;
    color: #fff;
  }
.msg1,.msg2,.banniere-photo, .cont-photo{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
    align-items: center;
    background-color: var(--bk-color-dark);
    box-shadow: 4px 4px 10px var(--shadow-card);
    border-radius: 10px 10px;
    margin-top: 20px;
    padding : 10px;
    margin-bottom: 20px;
    color: var(--txt-color-light);
}

.msg1 > .photo {
    background-color: #8f0c0c;
    max-width: 40%;
    max-height: 300px;
    text-align: center;
}

.legend{
    padding: 20px;
    width:60%;
    text-align: justify;
}

.legend.center {
    text-align: center;
    width: 100%;
}

.banniere-photo {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
}
  
.photo {
    flex-basis:25%;
    height: auto;
}
  
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.form-label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}


.container-resa, .container-resa2, .plat, .menu {
    color:var(--txt-color-light);
    background-color: var(--bk-color-dark);
    box-shadow: 4px 4px 10px var(--shadow-card);
    border-radius: 10px 10px;
    margin-top: 10px;
    padding : 10px;
    margin-bottom: 10px;
}

.menu-items {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.menu-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-item >.active {
    font-weight:bold;
}

.cont-photo.reverse{
    flex-direction: row-reverse;
}

.cont-photo.photo{
    max-height: 300px;
}

.cont-restau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.photo1 > img {
    max-height: 200px;
}


.register-form {
    width: 50%;
}

.input-nb {
    text-align: center;
}

.disabled-field:disabled {
    background-color: var(--bk-disabled-month);
    color: var(--txt-disabled-month);
}

.label-visible, .msg-reservation {
    color: var(--txt-color-light);
}

.msg-reservation {
    text-align: center;
}

/* Historique */
thead,
tfoot {
    background-color: var(--bk-color-dark);
    color: var(--txt-color-light);
}
tbody {
    color: var(--txt-color-dark);
}
.tb_booking {
    border-collapse: collapse;
    border: 2px solid lightgray;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.tb-cell-booking,
th {
    border: 1px solid lightgray;
    padding: 5px 10px;
    text-align: center;
}


@media (max-width: 992px) {
    body{
        font-size: 0.9rem;
    }
    .photo {
        flex-basis: 50%; 
    }
    .calendar-container {
        width: 100%;
    }
    .slots-container {
        padding: 0;
    }    
    .booking-btn {
        width: 100px;
        font-size: 0.8em;
    }

}
@media (max-width: 768px) {
    .slots {
        width: 100%;
    }
    .calendar-container {
        width: 100%;
    }
    .txt-welcome-navbar{
        display:none;
    }
    .logo-navbar {
        height:2em;
    }
    .slots-container {
        padding: 0;
        width:100%
    }
    .photo {
        flex-basis: 100%; 
    }
    .tb-booking {
        font-size: 0.9rem;
    }
    .tb-cell-booking,
    th {
        padding: 5px 5px;
    }
    .img-txt-container{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .photo-carousel img {
        max-height: 300px;
    }    
    .txt-carousel {
        max-width: 100%;
    }
    .booking-btn {
        top: 30px; /* Position verticale */
        left: 50%; /* Position horizontale */
        bottom: auto;
        transform: translate(-50%);
    }
}

