:root {
    --txt-color-light:#fef6eb;
    --txt-color-hilight:#ffd499;
    --txt-color-dark: #212529;
    --bk-color-light:rgb(254, 246, 235);;
    --bk-color-dark:#212529;
    --bk-btn-calendar: #aba799;
    --shadow-card:#645d49;
    --selected-month:#212529;
    --selected-date:#212529;
    --bk-calendar-slot:#aba799;
    --bk-calendar-date:#fff;
    --txt-disabled-month:#aaaaaa;
    --bk-disabled-month:#eeeeee;
    --bk-calendar-slots:#eeeeee;
    --txt-readonly: #aaaaaa;
}

body{
    background-color: var(--bk-color-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-size: 0.9rem;*/
}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar {
    transition: top 0.3s ease-in-out;
    transition-delay: 0.2s;
    /* Autres styles de votre navbar */
}
.nav-item{
    white-space: nowrap;
    font-size: 1rem;
}
.navbar-nav .nav-link:hover{
    color:white;
    font-weight: bold;

}
.navbar-brand-logo{
    text-align:center;
}
.fixed-footer{
    position: fixed;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bk-color-light);
    color: var(--txt-color-dark);
    text-align: center;
    padding: 10px 0;
    z-index:1;
}
.fixed-footer a{
    color: var(--txt-color-dark);
    text-align: center;
}
.fixed-footer-link{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.logo-navbar {
    height:2em;
}
h1{
    font-family: 'Stardos Stencil', cursive;

}
h1,h2,h3{
    color: var(--txt-color-light);
}
.text-hilight{
    color: var(--txt-color-hilight);
}
.no-break{
    white-space: nowrap;
}
.txt-welcome-navbar{
    display:none;
    margin: 5px;
}
.navbar2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
    align-items:first baseline;
}
.navbar1 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
}
.nav-user{
    align-items:center;
}
.nav-user2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
}
.navbar-all{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
}
/* FOOTER */
.footer {
    color: var(--txt-color-light);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top: auto;
   /* position: sticky;*/
    /*bottom: 0;*/
}

.footer.h1 {
    font-size: 1em;
}
.footer.h2 {
    font-size: 1em;
    justify-content: left;
}

.cont-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cont-contact-carte{
    width:100%;
}
.cont-contact-carte iframe{
    border: 5px solid white;
}
.cont-contact-logo {
    background-color: var(--bk-color-dark);
    border-radius: 10px;
    padding: 10px 50px;
    align-items: center;
  }
.cont-accueil-logo{
    height:auto;
    width: 100%;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.cont-accueil-logo>img{
    width: 40%;
    min-width: 220px;
    max-width: 600px;
}

.cont-accueil .down-arrow {
	background-image: url('../images/chevron-down.svg');
	position: absolute;
    bottom: 0px;
	height: 40px;
	margin-bottom: 15vh;
	width: 40px;
}
.cont-accueil .bounce{
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px); 
    }
    60% {
        transform: translateY(-15px);
    }
}
.hours > li {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;
    padding-left:0px;
}
.address-details {
    text-align: right;
}
.address-details p {
    margin: 0;
    font-size: 0.8em;
    text-align: center;
}

.row-form {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.container-confirm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-items: center;
} 

.calendar-container {
    position: relative;
    margin: 0;
    width: 100%;
    background: var(--bk-calendar-date);
    font: 13px Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0;
}
.calendar {
    width: 100%;
    padding: 0;
}
.year-line {
    background: var(--bk-color-dark);
    height: 30px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    margin-top: 10px;
}
.year-line span {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: var(--txt-color-light);
}
.titre-page-resa {
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: center;
    color: var(--txt-color-light);
}
.title-page-profil,
.title-page-restau{
    color: var(--txt-color-dark);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.title-page{
    color: var(--txt-color-light);
    text-align: center;
    margin-top:50px;
}

.resa-row-btn
{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content-center {
    justify-content : center;
    text-align: center;
}
.content {
    overflow: none;
    width: 100%;
    max-width: 790px;
    padding: 0px 0;
    height: auto;
    position: relative;
    margin: 20px auto;
    background-color: var(--bk-color-light);
    display:flex;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
    flex-wrap: wrap;
}
/* Days/months tables */
.days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center;
}
.day {
    text-transform: uppercase;
    font-size: 10px;
    color: #000; 
    border-bottom: 1px solid;
    padding-top: 10px;
}
.months-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.sem{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.month {
    cursor: default;
    height: 26px;
    margin: 5px 1px 0px 1px;
    line-height: 26px;
    font-size: 14px;
    color: var(--selected-month);
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    text-transform: capitalize;
    text-align: center;
    border-radius:10%;
    border: 2px solid transparent;

}


.table-date {
    cursor: default;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    border-radius: 10%;
    border: 2px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
}
.autre-mois {
    color: var(--txt-disabled-month);
    background-color: var(--bk-disabled-month);
    border-radius: 10%;
}

.month:hover,
.table-date:not(.nil):hover {
    border-color: var(--selected-date);
    font-weight: 700;
} 
.active-month,
.active-date {
    background: var(--selected-date);
    color: var(--bk-calendar-date);
}
/*  Events display */
.slots-container {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
}
.slots-container:after {
    clear: both;
}
.msg-slot {
    text-align: center;
    color: #aa0f0f;
    background-color: var(--bk-color-light);
    font-weight: bold;
}
.slot-card {
    padding: 10px 0 5px 0;
    text-align: center;
}
.date-slot {
    display: block;
    max-width: 100%;
    padding: 0 10px;
    font-size: 1.5rem;
    padding-right: 0;
    text-align: center;
}
/* input slots */
.slots {
    width: 100%;
    padding: 5px;
}
.tb-plages {
    display: flex;
    justify-content: center;
    align-items:center;
    border-collapse: separate;
    margin: 5px;
}
.slot-h {
    box-shadow: 2px 2px 5px var(--shadow-card);
    border-radius: 10%;
    background-color: var(--bk-calendar-slots);
    border-spacing: 0.5cm;
    padding: 5px;
    margin: 5px;
}

.slot-h,.slot-card, .date-slot {
    color:var(--txt-color-dark);
}

.active-slot {
    font-weight:bold;
    background-color: var(--bk-color-dark);
    color: var(--txt-color-light);
}
.readonly-field {
    background-color: var(--txt-readonly); 
    color: var(--txt-color-dark); 
}
table {
    width : 100%;
}

tr {
    width: auto;
}

.line-h {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
}

.titre-plage {
    background-color: var(--bk-color-dark);
    text-align: center;
    font-size: 1rem;
    color: var(--txt-color-light);
    margin-top: 5px;
    margin-bottom: 5px;
}
.booking-history-title{
    color: var(--txt-color-dark);
    text-align:center;
    font-size: 1.5rem;
}
.left-button {
    left: 0;
}
.right-button {
    right: 0;
}
.left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 2s;
    transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


.img-txt-container{
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.photo-carousel img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; 
}
.txt-carousel {
    max-width: 100%;
    text-align: justify;
}

.txt-accueil{
    color: var(--txt-color-light);
    text-align: justify;
}
.qa-btn {
    background-color: #3382ff;
    color: var(--txt-color-light);
    text-align:center;
    border-radius: 8px;
	text-decoration: none;
	padding: 10px 20px;
    border:none;
  }

.booking-btn {
	/* top: 30px; */
	/* left: 50%; */
	/* bottom: auto; */
	/* transform: translate(-50%); */
	/* position: absolute; */
	/* height: auto; */
	/* background-color: var(--txt-color-hilight); */
    text-align: center;
	border-radius: 8px;
	outline: 3px solid #3382ff;
	outline-offset: 5px;
	color: var(--txt-color-dark);
	font-weight: bold;
	transition: all 0.3s ease;
	/* text-align: center; */
	/* width: 100px; */
	/* z-index: 2; */
}
/*
.booking-btn {
    top: 30px; 
    left: 50%; 
    bottom: auto;
    transform: translate(-50%);
    position: absolute;
    height:auto;
    background-color: var(--txt-color-hilight);
    border-radius: 8px;
    outline: 4px solid var(--txt-color-hilight);
    outline-offset: 5px;
    padding: 10px 20px;
    color: var(--txt-color-dark);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
    width: 100px;
    font-size: 0.8em;
    z-index: 2;
}*/
.qa-btn:hover {
    background-color: var(--txt-color-hilight);
    color: var(--txt-color-dark)
  }
.msg1,
.msg2,
.banniere-photo,
.banniere-home,
.cont-photo,
.cont-contact{
    display: flex;
    flex-direction: column;
    background-color: var(--bk-color-dark);
    box-shadow: 4px 4px 10px var(--shadow-card);
    border-radius: 10px 10px;
    margin-top: 20px;
    padding : 10px;
    margin-bottom: 20px;
    color: var(--txt-color-light);
    align-items: center;
}
.bandeau-titre{
    background-image: url('../images/headerRestau.png');
    background-size: cover; 
    background-position: center;
    padding: 120px 0;
}
.cont-accueil{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}
.cont-accueil>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-resa, .container-resa2, .container-plat, .menu {
    color:var(--txt-color-light);
    background-color: var(--bk-color-dark);
    box-shadow: 4px 4px 10px var(--shadow-card);
    border-radius: 10px 10px;
    margin-top: 10px;
    padding : 10px;
    margin-bottom: 10px;
}
.cont-edit{
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.banniere-home{
    position:relative;
}
.msg1 > .photo {
    /*background-color: #8f0c0c;*/
    max-width: 100%;
    max-height: 300px;
    text-align: center;
}

.legend{
    padding: 10px 1px;
    width:100%;
    text-align: justify;
}

.legend.center {
    text-align: center;
    width: 100%;
}

.banniere-photo {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*pour ancienne version IE*/
}
.banniere-photo .photo {
    padding:5px;
}
.photo {
    flex-basis: 100%; 
    height: auto;
}

  
.photo img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    border-radius:5px;
    animation-name: scale-in;
    animation-duration: 5s;
}

@keyframes scale-in {
    0% {
        width:50%;
        height:50%
    }
    100%{
        width: 100%;
        height: 100%;
        }
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.form-label {
    font-size: 13px;
    letter-spacing: 1px;
}

.menu-items {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.menu-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-item >.active {
    font-weight:bold;
    border: 1px solid var(--txt-color-light);
    border-radius: 10px;
    width:min-content;
}

.cont-photo.photo{
    max-height: 300px;
}

.cont-restau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.photo1 > img {
    max-height: 200px;
}
.photo1{
    width:auto;
    align-content:center;
}

.register-form {
    width: 50%;
}

.input-nb {
    text-align: center;
    margin-bottom: 15px;
}

.resa3-input-label{
    text-align: left;
    width:100%;
}

.disabled-field:disabled {
    background-color: var(--bk-disabled-month);
    color: var(--txt-disabled-month);
}

.label-visible, .msg-reservation {
    color: var(--txt-color-light);
}

.msg-reservation {
    text-align: center;
}

/* Historique */
thead,
tfoot {
    background-color: var(--bk-color-dark);
    color: var(--txt-color-light);
}
tbody {
    color: var(--txt-color-dark);
}
.tb_booking {
    border-collapse: collapse;
    border: 2px solid lightgray;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.tb-cell-booking,
th {
    border: 1px solid lightgray;
    padding: 5px 5px;
    text-align: center;
}
.tb-booking {
    font-size: 0.9rem;
}

@media screen and (min-width:480px){
    .sem {
        width:50%;
    }
    .titre-page-resa{
        font-size:1.8rem;
    }
    .container-confirm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: end;
    }
    .resa3-input-label{
        text-align: right;
    }
    .titre-plage {
        background-color: var(--bk-color-dark);
        text-align: center;
        font-size: 1.5rem;
        color: var(--txt-color-light);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .booking-history-title{
        color: var(--txt-color-dark);
        text-align:center;
    }    
    .txt-welcome-navbar{
        display:block;
    } 
    
}

@media screen and (min-width: 768px) {
    .logo-navbar {
        height:2.3em;
    }
    .booking-btn {
        bottom: 30px;
        right: 50px;
    
        top: auto; /* Position verticale */
        left: auto; /* Position horizontale */
        transform: translate(0);
    }
    .photo {
        flex-basis: 50%;
        border-radius: 5px;
    }   
    .txt-carousel {
        max-width: 50%;
    }
    .photo-carousel img {
        max-height: 400px;
    }
    .img-txt-container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tb-cell-booking,
    th {
        padding: 5px 10px;
    }
    .tb-booking {
        font-size: 1rem;
    }

    .navbar-all{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
    } 
    .navbar1{
        order:1;
    }
    .navbar2{
        align-items:center;
        flex-wrap: wrap;
    }
    .nav-user{
        order:2;
        align-items: center;
    }
    .nav-item{
        font-size: 1.1rem;
    }
    .msg1,.msg2,.banniere-photo, .cont-photo{
        flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap; /*pour ancienne version IE*/
        text-align: center;
        justify-content: space-evenly;
    }
    
    .msg1 > .photo {
        /*background-color: #8f0c0c;*/
        max-width: 40%;
        max-height: 300px;
        text-align: center;
    }
    .legend{
        padding: 20px 10px;
        max-width:50%;
    }
    .cont-photo.reverse{
        flex-direction: row-reverse;
    }
    .title-page-restau{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .fixed-footer{
    display: none;
    }
    .navbar-brand-logo{
        text-align:center;
        width: 100%;
    }    
    .txt-welcome-navbar{
        display:none;
    } 
}

@media screen and (min-width: 992px) {
    .logo-navbar {
        height:2.5em;
    }
    body{
        font-size: 1rem;
    }
    .calendar-container {
        width: 60%;
    }
    .slots-container{
        width:40%;
    }
    .booking-btn{
        font-size: 0.8em;
        width: 150px;
    }
    .photo {
        flex-basis:25%;
    }   
    .nav-user2{
        font-size: 1rem;;
    }

    .navbar2{
        flex-wrap: nowrap;
    }
    .navbar-brand-logo{
        width: auto;
    }
}


@media screen and (min-width: 1200px) {
    .nav-item{
        font-size: 1.25rem;
    }
    .txt-welcome-navbar{
        display:block;
    } 
}

