{% extends 'base_reservation.html.twig' %}
{% block title %}Réservation{% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
    {{ message }}
</div>
{% endfor %}
{% include "/components/calendar.html.twig" %}

{% endblock %}
