{% extends 'base_reservation.html.twig' %}

{% block body %}
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
    {{ message }}
</div>
{% endfor %}
<body>
    <section class="ftco-section">
        <div class="container-resa">
            <div class="row content-center">
                <div class="col-md-6 mb-2">
                    <h2 class="titre-page">Nombre de convives</h2>
                </div>
            </div>
            <div class="row">
                <form action="{{ path('app_reservation') }}" method="POST">
                    <div class="col-md-3">
                        <button class="btn fa-solid fa-angle-left disable"></button>
                    </div>
                    <div class="col-md-4 mb-2">
                        {{form(form)}}
                                </div>
                    <div class="col-md-3">
                        <button  class="btn fa-solid fa-angle-right"></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

{% endblock %}