{% extends 'base.html.twig' %}

{% block title %}Le restaurant{% endblock %}

{% block body %}
<div class="container">
  <div class="cont-restau">
    <h1>Le restaurant</h1>
    {% set img_reverse = false %}
    {% for image in images %}
    {% if img_reverse == false %}
    <div class="cont-photo">
      {% else %}
      <div class="cont-photo reverse">
      {% endif %}
          <div class="photo1">
          <img src="{{ vich_uploader_asset(image, 'imageFile') }}">
          </div>
      <div class="legend right">{{image.description}}</div>
    </div>
    {% set img_reverse = not img_reverse %}
    {% endfor %}
  </div>
</div>
{% endblock %}
