<footer class="footer bg-dark ">
    <div class="footer h1">
      LE QUAI ANTIQUE
    </div>
    <div class="ouvertures">
      <div class="footer h2">Horaires d'ouverture :</div>
      <ul class="hours">
        {{ render(controller('App\\Controller\\FooterController::plageOuverture')) }}
    </ul>
    </div>
    <div class="address">
      <div class="logo-container">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="address-details">
        {{ render(controller('App\\Controller\\FooterController::toutesCoordonnees')) }}
      </div>
    </div>
  </footer>
  