{% extends 'base.html.twig' %}

{% block title %}Menus du restaurant{% endblock %}

{% block body %}
<div class="container">
    <div class="menu">
        <h1>Menus du restaurant</h1>
        <div class="menu-items text-center">
        {% for menu in menus %}
            <div class="fs-3">{{ menu.nom }} - {{ menu.prix }}€</div>
            <div class="menu-item">
                <div class="fs-4">{{ menu.description }}</div>
            {% for plat in menu.plats %}
                <div class="fs-5 text-hilight">
                    {{ plat }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}