{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
<div class="bandeau-titre">
  <h1 class="title-page">LA CARTE</h1>
</div>
<div class="container">
    <div class="container-plat">
        <div class="liste-plat mx-0 mx-md-5 mx-sm-2">
        {% for categorie in categories %}
            <h2 class="text-center">{{ categorie.titreCarte }}</h2>
            <div class="container my-3">
            {% for plat in plats %}
                {% if plat.categorie == categorie.titreCarte %}
                <div class="d-flex" >
                    <div class="fs-3 mt-2 px-0 px-sm-2 flex-grow-1">
                        {{ plat.nom }}
                    </div>
                    <div class="text-hilight fs-5 mt-2 px-0 px-sm-2 px-md-3">
                        <strong>{{ plat.prix }}</strong>
                    </div>
                </div>
                <div class="text-hilight px-3 text-left">{{ plat.description }}</div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}