<div class="footer-horaires">
{% for heure in heures %}
{# if heure.hOuverture|date('H:i') < hBascule %#}
    {% if heure.plage == 'midi' %}
<div>
        {{ heure.jourSemaine }} : </div>
<div>{{heure.plageTxt }}
    {% set heureMidi = heure %}
{% else %}
    {% if heure.hFermeture %} / {{heure.plageTxt}}
    {% else %}
        {% if heureMidi.hOuverture %}
            {{heure.plageTxt}}
        {% endif %}
    {% endif %}
</div>
{% endif %}
{% endfor %}
</div>
