{% for heure in heures %}
{% if heure.plage == 'midi' %}
<li> {{ heure.jourSemaine }} : {{heure.plageTxt }}
    {% set heureMidi = heure %}
    {% else %}
    {% if heure.hFermeture %} / {{heure.plageTxt}}
    {% else %}
    {% if heureMidi.hOuverture %}
    {{heure.plageTxt}}
    {% endif %}
    {% endif %}
</li>
{% endif %}
{% endfor %}