{% for heure in heures %}
<li> {{ heure.jourSemaine }} : {{heure.hOuverture|format_datetime('none', 'short', locale='fr') }} - {{
    heure.hFermeture|format_datetime('none', 'short', locale='fr') }} </li>
{% endfor %}